<header>
    <div class="container2">
        <a routerLink="/" class="logo">
            <img src="assets/img/logo.png" alt="Geek Store">
        </a>

        <nav>
            <ul>
                <li><a routerLink="sobre">Sobre Nós</a></li>
                <li><a routerLink="cadastro">Cadastro</a></li>
                <li><a routerLink="contato">Contato</a></li>
                <li><a routerLink="produtos">Produtos</a></li>
                <li><a routerLink="carrinho">Carrinho</a></li>
            </ul>
        </nav>
    </div>
</header>