<div class="container" *ngIf="currentCliente; else loggedOut">
    <h3>
        Olá, <strong>{{ decoded.nome }}</strong>
    </h3>

    <h3>
        Seus dados cadastrados são:
    </h3>

    <p>
        <strong>Id Cliente:</strong>
        {{ decoded.id }}
    </p>
    <p>
        <strong>Email:</strong>
        {{ decoded.email }}
    </p>

    <p>
        <strong>Nome:</strong>
        {{ decoded.nome }}
    </p>
    <p>
        <strong>Rua:</strong>
        {{ decoded.rua }}
    </p>
    <p>
        <strong>Cidade:</strong>
        {{ decoded.cidade }}
    </p>
    <p>
        <strong>Estado:</strong>
        {{ decoded.estado }}
    </p>
    <p>
        <strong>CEP:</strong>
        {{ decoded.cep }}
    </p>
    <p>
        <strong>CPF:</strong>
        {{ decoded.cpf }}
    </p>
</div>

<ng-template #loggedOut>
    Please login.
</ng-template>