<main>
    <h1>Sobre Nós</h1>

    <section class="sobre">
        <div class="img-sobre">
            <img src="assets/img/sobre.png" class="img-destaque" alt="Teclado com frase About Us em vermelho">
        </div>
        <div class="texto-sobre">
            <h2>MISSÃO</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et repudiandae id rem ut.
                Doloribus eaque, eveniet facere natus quod obcaecati excepturi hic suscipit at deserunt nulla
                magni totam temporibus. Suscipit numquam repellendus deleniti voluptas explicabo. Ad, nihil!
                Porro cumque, nam, assumenda saepe adipisci nemo ratione excepturi pariatur quis quae cum
                deserunt est, molestias nisi facere maxime quaerat sapiente at?</p>
        </div>
    </section>

    <section class="sobre2">
        <div class="texto-sobre2">
            <h2>VISÃO</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et repudiandae id rem ut.
                Doloribus eaque, eveniet facere natus quod obcaecati excepturi hic suscipit at deserunt nulla
                magni totam temporibus. Suscipit numquam repellendus deleniti voluptas explicabo. Ad, nihil!
                Porro cumque, nam, assumenda saepe adipisci nemo ratione excepturi pariatur quis quae cum
                deserunt est, molestias nisi facere maxime quaerat sapiente at?</p>
        </div>
        <div class="img-sobre">
            <img src="assets/img/sobre.png" class="img-destaque" alt="Teclado com frase About Us em vermelho">
        </div>
    </section>
</main>