<main>
    <h1>Sobre Nós</h1>

    <section class="sobre">
        <div class="img-sobre">
            <img src="assets/img/sobre.png" class="img-destaque" alt="Teclado com frase About Us em vermelho">
        </div>
        <div class="texto-sobre">
            <h2>MISSÃO</h2>
            <p>Aqui na Geek Store, nós acreditamos em um serviço de atendimento aos clientes de altíssima qualidade –
                mas também somos da opinião de que todos os nossos clientes merecem vivenciar uma experiência de compra
                inesquecível, e é por isso que tentamos proporcionar produtos excelentes a um preço acessível.
            </p>
        </div>
    </section>

    <section class="sobre2">
        <div class="texto-sobre2">
            <h2>VISÃO</h2>
            <p>A Geek Store segue uma filosofia de negócios simples: dedicar seu talento e tecnologia para vender
                produtos e serviços superiores que contribuem para a diversão dos nossos clientes. Para alcançar isso, a
                Geek store dá grande importância para seus profissionais e tecnologias.
            </p>
        </div>
        <div class="img-sobre">
            <img src="assets/img/sobre.png" class="img-destaque" alt="Teclado com frase About Us em vermelho">
        </div>
    </section>
</main>