main{
    padding: 110px 30px;
}

section.sobre, .sobre2{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 20px;
margin-top: 20px;
background-color: #ececec;
}

button{
    border: 0;
}
 
.img-destaque{
    width: 300px;
}

h1{
    text-align: center;
    font-size: 36px;
}

.texto-sobre{
    padding: 0 30px;
    text-align: justify;
}

.texto-sobre2{
    padding: 0 10px;
    padding-right: 30px;
    text-align: justify;
}

@media (max-width: 768px) {
    section.sobre{
        flex-direction: column;
    }
    section.sobre2{
        flex-direction: column-reverse;
    }
    .img-destaque{
        padding-bottom: 20px;
        width: 300px;
    }
    .texto-sobre, .texto-sobre2{
        padding: 0 20px;
    }
    h2{
        text-align: center;
    }
}