.confirma {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    text-align: center;
}
.confirma button {
    background-color: #FFEB3B;
    color: #212121;
    border: 1px solid #673AB7;
}
.confirma button:hover{
    background-color: #512DA8;
    color: #fff;
}
.confirma h1 {
    padding-top:20px;
}