.col-md-12{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
    
.card-container{
    justify-content: center;
    width: 400px;
}
.imgprofile{
    display: flex;
    justify-content: center;
}
img{
    margin-bottom: 15px;
}

 button {
    background-color: #FFEB3B;
    color: #212121;
    border: 1px solid #673AB7;
}
 button:hover {
    background-color: #512DA8;
    color: #fff;
}