.box-content{
    padding: 130px;
}

main{
    padding-top: 110px;
    margin-left: 45px;
    margin-right: 45px;
}

div.card-body button {
    background-color: #FFEB3B;
    color: #212121;
    border: 1px solid #673AB7;
}
div.card-body button:hover{
    background-color: #512DA8;
    color: #fff;
}
.container{
    width: 100%;
}

.mt-2{
    padding-bottom: 30px;
}

.busca {
    display: flex;
    width: 300px;
    padding-left: 15px;
}
.nome-produto{
    font-size: 16px;
}

.mt-50 {
    margin-top: 35px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 95%
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}


