<main>
    <div class="busca">
        <div class="por-nome">
            <input type="text" class="form-control" placeholder="Buscar por nome" [(ngModel)]="nome" />

            <button class="btn btn-outline-secondary" type="button" (click)="searchNome()">
                Buscar
            </button>
        </div>

    </div>
    <div class="container d-flex justify-content-center mt-50 mb-50">
        <div class="row">
            <div class="col-md-4 mt-2" *ngFor="let produto of produtos; let i = index"
                [class.active]="i == currentIndex">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions"> <a routerLink="../produto-info/{{ produto.id_produto }}"><img
                                    src="{{ produto.imgurl }}" class="card-img img-fluid" width="60" height="280"
                                    alt=""> </a></div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="nome-produto"> <a routerLink="../produto-info/{{ produto.id_produto }}" class="
                                    nome-produto" data-abc="true">{{
                                    produto.nome }}</a> </h6>
                        </div>
                        <h3 class="mb-0 font-weight-semibold"><strong>R$ {{ produto.preco }}</strong></h3>
                        <button type="button" class="btn bg-cart" routerLink="/produto-info/{{ produto.id_produto }}">
                            Ver detalhes </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>