<div class="produto-create">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" required [(ngModel)]="produto.nome" name="nome" />
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input class="form-control" id="descricao" [(ngModel)]="produto.descricao" type="text"
                    name="descricao" />
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input class="form-control" id="quantidade" [(ngModel)]="produto.quantidade" type="text"
                    name="quantidade" />
            </div>
            <div class="form-group">
                <label for="preco">Preço</label>
                <input class="form-control" id="preco" [(ngModel)]="produto.preco" type="text" name="preco" />
            </div>
            <div class="form-group">
                <label for="imgurl">URL da Imagem</label>
                <input class="form-control" id="imgurl" [(ngModel)]="produto.imgurl" type="text" name="imgurl" />
            </div>
            <div class="form-group">
                <label for="id_categoria">Id da Categoria</label>
                <input class="form-control" id="id_categoria" [(ngModel)]="produto.id_categoria" type="text"
                    name="id_categoria" />
            </div>
            <button (click)="saveProduto()" class="btn btn-success">Cadastrar</button>
        </div>
        <div *ngIf="submitted">
            <h4>Produto cadastrado com sucesso!</h4>
            <button class="btn btn-success" (click)="newProduto()">Adicionar novo</button>
            <button class="btn btn-success" routerLink="../../admin">Voltar ao Admin</button>
        </div>
    </div>
</div>