.corpo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.836)), url(../../../../src/assets/img/logo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .end{
    width: 100%;
  }
  .rua {
    display: flex;
    justify-content: space-around;
    margin-right: 2px;
    margin-left: 20px;
  
  }
  
  .cidade {
    display: flex;
    justify-content: space-around;
  
  }
  
  .estado {
    display: flex;
    justify-content: space-around;
  
  }
  
  .cep {
    display: flex;
    justify-content: space-around;
    margin-left: 18px;
  }
  
  .nome {
    display: flex;
    justify-content: space-around;
    margin-left: 28px;
    margin-right: 20px;
  }
  
  .email {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 20px;
  }
  
  .cpf {
    display: flex;
    justify-content: space-around;
    margin-left: 38px;
    margin-right: 20px;
  }
  
  .senha {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 20px;
  }
  
  .caixa {
    border-color: #512DA8;
    width: 680px;
    height: 100%;
    border-radius: 25px;
    background: #512DA8;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 110px;
    padding-bottom: 70px;
  }
  
  h1,
  h4 {
    color: #ffd700;
    font-size: 30px;
    line-height: 70px;
    letter-spacing: 1px;
    margin: 5px 2px;
    text-align: center;
  }
  
  label {
    margin-top: 6px;
    color: #000;
    width: none;
  }
  
  p {
    color: #ffd700;
    margin-right: 5px;
    margin-top: 10px;
  
  }
  
  .erro {
    text-align: center;
    padding-top: -20px;
  }
  
  .botao-cadastrar{
      margin-top: 15px;
      display: flex;
      justify-content: center;
  }
  .botao-cadastrar button {
    width: 150px;
    border: 1px solid #512DA8;
    color: #000;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    background: #ffd700;
  }

  .submitted {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .submitted h4{
    font-size: 18px;
  }
