.pag{
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.carrinho {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 70px;
}