<body class=corpo>

    <section class=caixa>

        <h4> Contato </h4>

        <h4> Geek Store </h4>

        <div class="info">
            <p> Email: <a href="mailto:contato@geekstore.com"> contato@geekstore.com</a></p>
            <p> Telefone:
                <a href="tel:1198984242"> (11) 9898-4242 </a>
                <a href="https://api.whatsapp.com/send?phone=551198984242&text=Gostaria%20de%20receber%20um%20or%C3%A7amento%3F"
                    target="_blank">(whatsApp)</a>
            </p>
            <div class=container>
                <p class=redesocial> Redes Sociais </p> <br>

                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>

                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            </div>
            <iframe class="mapa"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.1365765595756!2d-46.68074028502272!3d-23.527589684699716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57fd1d715d45%3A0x864e5421d6195cb1!2sAllianz%20Parque!5e0!3m2!1spt-BR!2sbr!4v1620050783868!5m2!1spt-BR!2sbr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


        </div>



    </section>

</body>