<main>
    <section class="banner">
        <div class="container">
            <div class="borda">
                <div class="imagem">
                    <img src="{{currentProduto.imgurl}}" alt="" srcset="">
                </div>
            </div>
            <div class="texto">
                <h2> {{ currentProduto.nome }}</h2>
                {{currentProduto.descricao}}
                <br><br>
                <strong>R$ {{currentProduto.preco}}</strong>
                <br><br>
                <div class="botao">
                    <app-pedido-criar></app-pedido-criar>
                </div>

            </div>
        </div>
    </section>
</main>